// Custom summary list widths for Agents
.agent-summary-list__key--long {
    @include govuk-media-query($from: tablet) {
    width: 80%
    }
}

.agent-summary-list__value--long {
    @include govuk-media-query($from: tablet) {
    width: 20%
    }
}

.agent-summary-list__key--short {
    @include govuk-media-query($from: tablet) {
    width: 10%
    }
}

.agent-summary-list__value--short {
    @include govuk-media-query($from: tablet) {
    width: 90%
    }
}

// more modern versions of _typography limit govuk-tag max width to 160px
// setting this now will ensure the tag is not wrapped and continues to contain
// the content on one line once libraries are updated
.govuk-tag {
  max-width: 230px !important;
}

