.transaction-banner__heading{
    .small-text{
        font-size: 19px;
        font-weight: normal;
        display: block;
    }
    .large-text{
        margin-bottom: .4em;
        display: inline-block;
        margin-top: 6px;
    }
}
.half-margin-bottom{
    margin-bottom: .6em;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}