@import 'modules/_custom';

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.margin-top-0 {
  margin-top: 0px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}

.govuk-input--width-4 {
  max-width: 9ex;
}

.error-container {
  padding-top: 0;
  padding-bottom: 0
}


.flash.error-summary {
  border: 5px solid #d4351c;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 15px 15px;
}

@media (min-width: 641px) {
  .flash.error-summary {
    border: 5px solid #d4351c;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 15px 15px;
  }
}

.flash.error-summary a {
  font-weight: bold;
}

#error-summary-heading {
  font-size: 24px;
}

.error-summary:focus {
  outline: none;
}

.form-field--error .error-notification {
  font-weight: bold;
  font-size: 19px;
  line-height: 1.31579;
}

.form-field--error {
  border-left: 5px solid #d4351c;
  padding-left: 15px;
  margin-right: 15px;
}

.form-field--error input[type="text"] {
  border: 4px solid #d4351c;
  height: 40px;
}

/* no js style for dates */
.no-js .form-date .form-field--error {
  border-left: none;
  padding: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.flash.error-summary a, .flash.error-summary .link-style, .flash.error-summary .button--link-style {
  color: #d4351c;
}


.form-field--error legend h1, .form-field--error legend h2 {
  margin-top: 0 !important
}

.govuk-body-l, .govuk-body-lead {
    color: #0b0c0c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.11111;
    margin-top: 0;
    margin-bottom: 20px;
}

@media (min-width: 40.0625em){
    .govuk-body-l, .govuk-body-lead {
        margin-bottom: 30px;
    }
}

@media (min-width: 40.0625em){
    .govuk-body-l, .govuk-body-lead {
        font-size: 24px;
        line-height: 1.25;
    }
}

.govuk-body-m + .govuk-heading-l, .govuk-body + .govuk-heading-l, p + .govuk-heading-l, .govuk-body-s + .govuk-heading-l, .govuk-list + .govuk-heading-l {
    padding-top: 15px;
}

.govuk-heading-l {
    color: #0b0c0c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.04167;
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
}


@media (min-width: 40.0625em){
    .govuk-heading-l {
        margin-bottom: 30px;
    }
}

@media (min-width: 40.0625em){
    .govuk-heading-l {
        font-size: 36px;
        line-height: 1.11111;
    }
}


.govuk-heading-s {
    color: #0b0c0c;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
}

@media (min-width: 40.0625em){
    .govuk-heading-s {
        margin-bottom: 20px;
    }
}

@media (min-width: 40.0625em){
    .govuk-heading-s {
        font-size: 19px;
        line-height: 1.31579;
    }
}

.govuk-heading-m {
    color: #0b0c0c;
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11111;
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
}

@media (min-width: 40.0625em){
    .govuk-heading-m {
        margin-bottom: 20px;
    }
}

@media (min-width: 40.0625em){
    .govuk-heading-m {
        font-size: 24px;
        line-height: 1.25;
    }
}

@media (max-width: 640px) {
  .button--secondary {
    width: 100%;
  }
}

@media (min-width: 640px) {
  .button--secondary {
    line-height: 27px;
  }
}

.welsh-toggle {
  padding-right: 15px;
  float: right;
  color: #b1b4b6;
  font-weight: bold;
  margin-bottom: 0;
  text-decoration: none;
}

#cymraeg-switch:hover, #english-switch:hover{
  color: white;
  text-decoration: underline;
}

@import 'modules/_palette';
@import 'modules/_focus';